*{
	padding: 0;
	margin: 0;
}
html{
	font-size: 10px;
}
body{
	width: 320px;
}
@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
}
.flex-wrapper{
	display: flex;
		margin-left: 2rem;
		margin-bottom: 2rem;
}
.dark-blue-line{
	height: 40px;
	background-color: #303f9f;
}
.language-container{
	height: 100%;
	margin-left: 2rem;
	margin-right: 2rem;
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.sign-in{
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	color:#7e87c3;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.Eng{
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	color:#7e87c3;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.flex-item{
	padding-right:2rem;
}
.arrow-down{
	color:#7e87c3;
}
.blue-line-header{
	padding-left: 2rem;
	padding-right: 2rem;
	display: flex;
	align-items:center;
	justify-content:space-between;
	height: 70px;
	background-color: #3f51b5;
}
.burger-menu span{
	background-color: red;
	height: 1px;
}
.logo{
	margin-left: 2rem;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size: 2.4rem;
	letter-spacing: 3px;
}
.shopping-cart a{
	color:#fff;
	font-size: 1.8rem;
}
.shopping-cart{
	display: flex;
}
.pink-circle{
	position: relative;
	bottom: 15px;
	width: 25px;
	height: 25px;
	background-color: #ff4081;
	border-radius: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
}
.seven{
	font-size: 1.4rem;
	color:#fff;
}
.white-content{
	display: flex;
	justify-content:center;
	align-items:center;
	height: 60px;
}
.white-content input{
	border: 1px solid#e0e0e0;
	width: 220px;
	height: 42px;
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	padding-left: 1.5rem;
	color:#212121;
}
.input-button{
	display: flex;
	justify-content:center;
	align-items:center;
	width: 42px;
	height: 42px;
	background-color: #eeeeee;
	border-radius: 5px;
	border: 1px solid#e0e0e0;
}
.input-button a {
	font-size: 1.6rem;
	&:nth-child(1){
		margin-bottom:3px;
	}
	&:nth-child(2){
		margin-top:3px;
	}
}
.fa-sort-down{
	color:#6d6d6d;
	position: relative;
	right: 7px;
	margin-top: 5px;
}
.fa-sort-up{
	color:#6d6d6d;
	position: relative;
	left: 3px;
}
.bg-main-content{
	background-color: #f5f5f5;
}
.big-post{
	position: relative;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 2rem;
	width: 280px;
}
.custom-padding{
	padding-top: 2rem;
}
.play-icon{
	position: absolute;
	left:11rem;
	top:6rem;
}
.clasification-post{
	position: relative;
	display: flex;
	bottom: 35px;
	margin-bottom: -25px;
	justify-content: space-between;
}
.name-post{
	span{
		display: flex;
		padding-left:2rem;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		color:#fff;
		font-size: 1.2rem;
	}
}
.like-coment{
	padding-right:2.2rem;
	display: flex;
	div{
		&:nth-child(2){
			margin-left:2rem;
		}
	}
}
.comment{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	color:#fff;
	display: flex;
	align-items:center;
	img{
		width:12px;
		height:12px
	}

}
.like{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	color:#fff;
	display: flex;
	align-items:center;
	img{
		width:12px;
		height:12px
	}
}
.comment{
	span{
		display: block;
		padding-left: 1rem;
		color:#fff;
	}
}
.like{
	span{
		display: block;
		padding-left: 1rem;
		color:#fff;
	}
}
.white-wrapper{
	border-radius: 4px;
	background-color: #fff;
}
.title-big-post{
	line-height: 2.5rem;
	padding-top: 1.5rem;
	margin-left: 2rem;
	margin-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.6rem;
}
.offer-big-post{
	margin-left: 2rem;
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 2rem;
}
.separating-line{
	background-color: #e0e0e0;
	height: 1px;
}
.user-info{
	display: flex;
	justify-content:space-between;
}
.user-card{
	display: flex;
}
.user-name{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.4rem;
	margin-top: 1.5rem;
	margin-bottom: 5px;
}
.date{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
}
.triple-dots{
	margin-top: 3rem;
	margin-right: 2rem;
}
.men-img{
	margin-left: 1rem;
}
.men{
	margin-top: 1rem;
	margin-left: 1.5rem;
	margin-bottom: 1rem;
}
.main-wrapper{
	margin-left: 2rem;
	margin-bottom: 2rem;
	width: 280px;
	display: flex;
	box-shadow: 0 0 25px rgba(0,0,0,0.3);	
}
.clasification-post__horizontal{
	margin-bottom: -4.5rem;
	position: relative;
	bottom: 4rem;
	left: 1rem;
}
.clasification-post__vertical{
	position: absolute;
	top:6rem;
	left:1rem;
}
.padding-up{
	padding-bottom:2rem;
}
.text-small{
	position: relative;
	bottom: 1rem;
	color:#fff;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}
.like-coment__horizontal{
	position: relative;
	bottom: 5px;
	display: flex;
	color:#fff;
}
.comment__horizontal{
	font-family: 'Montserrat', sans-serif;
	padding-right:3rem;
	display: flex;
	img{
		width:1.5rem;
		height: 1.4rem;
		margin-right:7px;
	}
	span{
		font-size: 1.3rem;
	}
}
.like__horizontal{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	img{
		width:15px;
		height: 14px;
		margin-right:7px;
	}
	span{
		font-size: 1.3rem;
	}
}
.number__horizontal{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
}
.content__block__horizontal{
	padding-bottom: 4px;
	border-radius: 4px;
	width: 150px;
	background-color: #fff;
}
.title__horizontal{
	margin-bottom:5px;
	margin-top:5px;
	padding-left:1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color:#000;
	font-size: 1.5rem;
}
.title__vertical{
	margin-bottom:1.5rem;
	padding-top:.5rem;
	padding-left:10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color:#000;
	font-size: 1.5rem;
}
.padding-align{
	padding-bottom: 10px;
}
.blue{
	color:#3f51b5;
}
.box-shadow{
	 box-shadow: 0 0 25px rgba(0,0,0,0.3);
}
.user-name__user-card{
	display: block;
	margin-top: 10px;
	margin-left: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
}
.wrapper-date__horizontal{
	margin-top: 5px;
	margin-left: 1rem;
	display: flex;
	justify-content:space-between
}
.date__user-card{
	color:#969696;
	display: block;
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}
.wrapper-date__horizontal img {
	margin-right: 1.2rem;
	margin-bottom: 3px;
}
.content__block__vertical{
	padding-bottom: 1rem;
	width: 130px;
	background-color: #fff;
}
.vertical-post__wrapper{
	position: relative;
	border-radius: 4px;
}
.photo-post{
	height: 102px;
}
.big-photo-post{
	width:280px;
	position: relative;
	margin-left: 2rem;
	margin-bottom: 2rem;
}
.bg-main-content2{
	background-color: #212121;
}
.logo-footer{
	padding-top: 4.5rem;
	margin-left: 2rem;
	margin-bottom: 2.5rem;
	color:#fff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.4rem;
	letter-spacing: 3px;
}
.offer-main-content2{
	letter-spacing: 1.5px;
	word-spacing: 1px;
	margin-left: 2rem;
	font-family: "MyriadProRegular";
	font-size: 1.4rem;
	color:white;
	opacity: .5;
	margin-right: 2rem;
}
.offer-main-content2 span{
	text-transform: uppercase;
}
.button__main-content2{
	width: 120px;
	height: 30px;
	border-radius: 4rem;
	margin-top: 2rem;
	margin-left: 2rem;
	border: none;
	background-color: #303030;
	text-transform: uppercase;
	color:#c1c1c1;
	font-size: 1.2rem;
}
.title__categories {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.8rem;
	color:#fff;
	text-transform: uppercase;
	margin-top: 5rem;
	margin-left: 2rem;
	margin-bottom: 2rem;
}
.img-horizontal-param{
	height:105px;
}
.block-categories{
	margin-top: 2rem;
	display: flex;
	justify-content:space-between;
	margin-left: 2rem;
}
.block-categories span{
	font-family: 'Open Sans', sans-serif;
	color:#bdbdbd;
	font-size:14px;
	letter-spacing: 1px;
}
.count{
	margin-right: 2rem;
	font-family: 'Montserrat', sans-serif;
	color:#bdbdbd;
	font-size:1.4rem;
	font-weight: bold;
}
.color{
	background-color: #3c3c3c;
	margin-left: 2rem;
}
.tags{
	margin-left: 2rem;
}
.tags button{
	opacity: .7;
	letter-spacing: 1px;
	cursor: pointer;
	outline: none;
	margin-right: 10px;
	margin-bottom: 10px; 
	height: 30px;
	border-radius: 4px;
	background-color: transparent;
	border: 1px solid #9394a1;
	color:white;
}
.tags button:nth-child(1){
	width: 120px;
}
.tags button:nth-child(2){
	width: 110px;
}
.tags button:nth-child(3){
	width: 100px;
}
.tags button:nth-child(4){
	width: 80px;
}
.tags button:nth-child(5){
	width: 60px;
}
.tags button:nth-child(6){
	width: 130px;
}
.tags button:nth-child(7){
	width: 110px;
}
.tags button:nth-child(8){
	width: 100px;
}
.tags button:nth-child(9){
	width: 80px;
}
.tags button:nth-child(10){
	width: 60px;
}
.tags button:nth-child(11){
	width: 120px;
}
.tags button:nth-child(12){
	width: 110px;
}
.flic-img{
	margin-left: 2rem;
	margin-bottom: 1.5rem;
}
.flic-img img:nth-child(2){
	margin-left: 1.5rem;
}
.flic2-img{
	margin-left: 2rem;
	padding-bottom: 3rem;
}
.flic2-img img:nth-child(2){
	margin-left: 1.5rem;
}
.links-list{
	padding-left: 2rem;
	height: 140px;
	background-color: #303030;
}
.links-list ul{
	padding-top: 3rem;
	list-style-type: none;
	display: flex;
	justify-content:center;
}
.links-list ul li{
	font-size: 1.8rem;
	margin-right: 3.5rem;
}
.links-list ul li a {
	color:#7f7f7f;
}
.footer-text{
	font-size: 1.4rem;
	word-spacing: 1px;
	letter-spacing: 1px;
	color:#8b8b8b;
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}
